<script>
  import api from '../api.js';
  let val = '';
  let link = 'https://strapi-api-1.herokuapp.com'
  let antologias = [];
  let model = [];
  let timer;
  (async () => {
    await api.get("/antologias").then((res) => {
      antologias = res.data;
      model = res.data;
    })
  })();
  const onKeyupSearch = (e) => {
    clearTimeout(timer)
    timer = setTimeout(() => {
      val = e
      model = [];
      filterItems(val);
    }, 500);
  }
  const filterItems = (value) => {
    let v = value.toLowerCase();
    return antologias.forEach(antologia => {
      let nombre = antologia.nombre.toLowerCase();
      if (nombre.indexOf(v) != -1) {
        model = [...model, antologia];
      }
    })
  }

  
  const resetAll = () => {
    model = antologias
    val = ''
  }
</script>
<div class="container mx-auto pt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div  class="card-header d-flex justify-content-between align-items-center">
          <span>
            Buscar Antologia
          </span>
          <div>
            <form>
              <input type="search" name="search" class="form-control" placeholder="Buscar Antologia" on:keydown={({ target: { value } }) => onKeyupSearch(value) }>
            </form>
          </div>
          
          <div>
            <button class="btn btn-sm btn-info" on:click={resetAll}> Ver Todos</button>
            <a class="btn btn-sm btn-primary" href="/"> Regresar ➥</a>
          </div>
        </div>
        <div class="card-body">
          <h3>Lista de antologias: {val}</h3>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Archivo</th>
              </tr>
            </thead>
            <tbody>
              {#each model as item}
              <tr>
                <td>
                  {item.nombre}
                </td>
                <td>
                  {item.descripcion}
                </td>
                <td>
                  <a href="{link + item.archivo.url}" class="btn btn-sm btn-danger" target="_blank"> Ver <i class="bi bi-file-earmark-text"></i> </a>
                </td>
              </tr>
              {/each}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>