<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/assets/img/isc.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Repostorio ISC</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#home" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/emanuel.bautista.79274/" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#home" class="instagram"><i class="bx bxl-instagram"></i></a>
          <!--<a href="#home" class="google-plus"><i class="bx bxl-skype"></i></a>-->
          <!--<a href="#home" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="/"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/login"><i class="bx bx-user"></i> <span>Iniciar Sesion</span></a></li>
          <li><a href="/buscar"><i class="bx bx-file-blank"></i> <span>Buscar Antologias</span></a></li>
          <!--<li><a href="#portfolio"><i class="bx bx-book-content"></i></a></li>-->
          <li><a href="https://itsjc.edu.mx/principal/home" target="_blank"><i class="bx bx-server"></i> Servicios ITSJC</a></li>
          <!--<li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>-->

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Ingenieria</h1>
      <h1>en Sistemas </h1>
      <h1>Computacionales</h1>
      <p><span class="typed" data-typed-items=", Alumno, un Programador, un Furuto Ingeniero "></span></p>
    </div>
  </section><!-- End Hero -->

  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>ITSJC</span></strong>
      </div>
      <div class="credits">
        Besai Emmanuel    <a href="https://www.facebook.com/emanuel.bautista.79274/">Proyect</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#home" class="back-to-top"><i class="icofont-simple-up"></i></a>