<script>
  import Alert from "../components/Alert.svelte"
  import { validateSet, validateGet } from "../validate.js"
  let a = JSON.parse(validateGet());
  if (a == "maestro") {
    window.location.href = "/antologia";
  } else if (a == "admin") {
    window.location.href = "/usuario"
  }
    let src = 'img/file.png'
    import api from '../api.js'
    let login = {};
    let alert = {
        accion: false,
        message: ""
    }

    const onSubmitLogin = async (e) => {
      e.preventDefault();
      const {data} = await api.get("/usuarios");
      data.forEach(element => {
        let usuario = element.usuario
        let usu = login.usuario
        if ( usuario.toLowerCase() == usu.toLowerCase() ) {
          let admin = "admin"
          let maestro = "maestro"
          if (element.id_rol.rol.toLowerCase() == maestro.toLowerCase()) {
            validateSet(maestro);
            window.location.href = "/antologia";
          } else if (element.id_rol.rol.toLowerCase() == admin.toLowerCase()) {
            validateSet(admin);
            window.location.href = "/usuario"
          } else {
            window.location.href = "/login"
          }
        }else{
          let alert = {
        accion: true,
        message: "Usuario o contraseña Incorrectos"
    } 
        }
        
      });
    }
</script>
<div class="container">
  {#if alert.accion}
        {#if alert.message.charAt(0) == "A"}
            <Alert color="warning" alert={alert.message}/>
        {:else}
            <Alert color="danger" alert={alert.message}/>
        {/if}
    {/if}
</div>

<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <img class="mx-auto h-50 w-auto" src={src} alt="Workflow">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Repositorio ISC
        </h2>
       
      </div>
      <form on:submit={onSubmitLogin}>
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="email-address" class="sr-only">Username</label>
            <input id="email-address" bind:value={login.usuario} name="user" type="text" autocomplete="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Username">
          </div>

          <div>
            <label for="password" class="sr-only">Password</label>
            <input id="password" bind:value={login.password} name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
          </div>
        </div>
  
        
  
        <div>
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: lock-closed -->
              <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
              </svg>
            </span>
            INGRESAR
          </button>
        </div>
      </form>
      <a href="/" class="btn btn-sm btn-danger btn-block">Cancelar</a>
    </div>
  </div>
  