<script>
    import { validateGet } from '../../validate.js'
    import api from '../../api.js'
    import Alert from "../../components/Alert.svelte"
    import Navbsmaestros from "../../components/Navbsmaestros.svelte"
    import Navbs from "../../components/Navbs.svelte"
    let antologias = [];
    let grupos = [];
    let semestres = [];
    let maestros = [];
    let files;
    let vali = false
    let v = ''
    let link = 'https://strapi-api-1.herokuapp.com';
    (async () => {
        const g = await api.get("/grupos")
        const s = await api.get("/semestres")
        const m = await api.get("/maestros")
        const a = await api.get("/antologias")
        grupos = g.data
        semestres = s.data
        maestros = m.data
        antologias = a.data
        v = JSON.parse(validateGet());
        console.log(v)
        if (v == "maestro"){
            vali = true
        } else if (v = "admin") {
            vali = false
        }
        if (v == null) {
              window.location.href = "/login"
        }
  })();
  let antologia = {}
  let actualizar = false
  let _id = ""
  let alert = {
      accion: false,
      message: ""
  }

  const onSubmitAn = async (e) => {
      e.preventDefault()
      const eventButton = e.target[7].name
      const d = new FormData()
      d.append("files", files[0])
      console.log(eventButton)
      console.log(antologia)
      if(eventButton == "agrega") {
          await api.post("/upload", d).then( async (res) => {
            antologia.archivo = parseInt(res.data[0].id)
            await api.post("/antologias", antologia).then(async () => {
                const data = await api.get("/antologias")
                antologias = data.data
                antologia = {}
            })
            alert = {
                accion: true,
                message: "Agregado Correctamente"
            }
          })
      }
      /* if(eventButton == "actualiza") {
          await api.put(`/antologias/${_id}`, antologia)
          antologia = {}
          alert = {
              accion: true,
              message: "Actualizado Correctamente"
          }
      } */
  }

  const anDelete = async (id, archivo) => {
      const res = await api.delete(`/antologias/${id}`).then( async (r) => {
          const file = await api.delete(`/upload/files/${archivo}`).then(async (re) => {
              const data = await api.get("/antologias").then(data =>{
                antologias = data.data
              })
              alert = {
                  accion: true,
                  message: "Eliminado Correctamente"
              }
          })
      })
     
  }


  /* const anUpdate = async (id) => {
      await api.get(`/antologias/${id}`).then(anConsulta => {
          const { data } = anConsulta
          antologia.nombre = data.nombre
          antologia.archivo = data.archivo.url
          antologia.descripcion =data.descripcion
          antologia.estatus = data.estatus
          antologia.id_maestro = data.id_maestro.id
          antologia.id_smts = data.id_smts.id
          antologia.id_grupo = data.id_grupo.id
          actualizar = true
          _id = id
      }).catch(err => {
          console.log(err)
      })
  } */

</script>
<div>
    {#if vali == true}
    <Navbsmaestros />
    {/if}
    {#if vali == false}
    <Navbs />
    {/if}
</div>
<div class="container mx-auto pt-4">
  {#if alert.accion}
      {#if alert.message.charAt(0) == "A"}
          <Alert color="warning" alert={alert.message}/>
      {:else}
          <Alert color="danger" alert={alert.message}/>
      {/if}
  {/if}
  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <h3 class="card-header text-uppercase">
                  Registro Antologias
              </h3>
              <div class="card-body">
                  <form on:submit={onSubmitAn} enctype="multipart/form-data" on:submit>
                      <div class="form-group">
                          <label for="" class="text-justify">Nombre</label>
                          <input bind:value={antologia.nombre} pattern="[^\s]*$" title="Espacio Bacio" type="text" name="nombre" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="" class="text-justify">Archivo</label>
                        <input bind:value={antologia.archivo} bind:files pattern="[^\s]*$" title="Espacio Bacio" type="file" name="archivo" class="form-control-file" required>
                      </div>
                      <div class="form-group">
                        <label for="" class="text-justify">Descripcion</label>
                        <textarea bind:value={antologia.descripcion} name="descripcion" cols="1" rows="3" class="form-control"></textarea>
                      </div>
                      <div class="form-group">
                          <label for="inputState">Estatus</label>
                          <select bind:value={antologia.estatus} name="estatus" id="inputState" class="form-control" required>
                              <option selected>Selecion...ON/OFF</option>
                              <option value={true}>ON</option>
                              <option value={false}>OFF</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label for="inputState">Maestro</label>
                          <select bind:value={antologia.id_maestro} name="semestre" id="inputState" class="form-control" required>
                            <option selected>Option..</option>
                            {#each maestros as s}
                              {#if s.estatus}
                                  <option value={s.id}>{s.nombre}</option>
                              {/if}
                            {/each}
                          </select>
                      </div>
                      <div class="form-group">
                        <label for="inputState">Semestre</label>
                        <select bind:value={antologia.id_smts} name="semestre" id="inputState" class="form-control" required>
                          <option selected>Option..</option>
                          {#each semestres as s}
                            {#if s.estatus}
                                <option value={s.id}>{s.semestre}</option>
                            {/if}
                          {/each}
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="inputState">Grupo</label>
                      <select bind:value={antologia.id_grupo} name="semestre" id="inputState" class="form-control" required>
                        <option selected>Option..</option>
                        {#each grupos as s}
                          {#if s.estatus}
                              <option value={s.id}>{s.grupo}</option>
                          {/if}
                        {/each}
                      </select>
                  </div>
                      {#if actualizar == true}
                          <button type="submit" name="actualiza" class="btn btn-block btn-primary">
                              Actualizar
                          </button>
                      {:else}
                          <button type="submit" name="agrega" class="btn btn-block btn-primary">
                              Agregar
                          </button>
                      {/if}
                  </form>
              </div>
          </div>
      </div>
      <div class="col-md-8">
          <table class="table">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Archivo</th>
                      <th>Descripcion</th>
                      <th>Estatus</th>
                      <th>Opciones</th>
                  </tr>
              </thead>
              <tbody>
                  {#each antologias as a}
                  <tr>
                      <td>{a.id}</td>
                      <td>{a.nombre}</td>
                      <td>
                        <a href="{link + a.archivo.url}" class="btn btn-danger btn-sm" target="_blank"> Ver <i class="bi bi-file-earmark-text"></i> </a>
                      </td>
                      <td>{a.descripcion}</td>
                      <td class="d-flex justify-center-center align-items-center">
                          {#if a.estatus}
                          <img width="24" src="img/valid.png" alt="valid"/>
                          Activo
                          {:else}
                          <img width="24" src="img/invalid.png" alt="invalid"/>
                          Inactivo
                          {/if}
                      </td>
                      <td>
                          <button class="btn btn-danger btn-sm" on:click={anDelete(a.id, a.archivo.id)}>✗</button>
                          <!-- <button class="btn btn-warning btn-sm" on:click={anUpdate(a.id)}>✎</button> -->
                      </td>
                  </tr>
                  {/each}
              </tbody>
          </table>
      </div>
  </div>
</div>