<script>
    import { validateGet } from '../../validate.js'
    import api from '../../api.js'
    import Alert from "../../components/Alert.svelte"
    import Navbs from "../../components/Navbs.svelte"
    let l = ''
  let materias = [];
  let grupos = [];
  
  (async () => {
      const data = await api.get("/materias")
      const g = await api.get("/grupos")
      grupos = g.data
      materias = data.data
      l = JSON.parse(validateGet());
      if (l == null) {
        window.location.href = "/login"
    }
  })();
  let materia = {}
  let actualizar = false
  let _id = ""
  let alert = {
      accion: false,
      message: ""
  }
  
  const onSubmitMateria = async (e) => {
      e.preventDefault()
      const eventButton = e.target[3].name
      if(eventButton == "agrega") {
          await api.post("/materias", materia)
          materia = {}
          alert = {
              accion: true,
              message: "Agregado Correctamente"
          }
      }
      if(eventButton == "actualiza") {
          await api.put(`/materias/${_id}`, materia)
          materia = {}
          alert = {
              accion: true,
              message: "Actualizado Correctamente"
          }
      }
      const data = await api.get("/materias")
      materias = data.data
  }
  
  const materiaDelete = async (id) => {
      const res = await api.delete(`/materias/${id}`)
      alert = {
          accion: true,
          message: "Eliminado Correctamente"
      }
      const data = await api.get("/materias")
      materias = data.data
  }
  
  const materiaUpdate = async (id) => {
      await api.get(`/materias/${id}`).then(mConsulta => {
          const { data } = mConsulta
          materia.materia = data.materia
          actualizar = true
          _id = id
      }).catch(err => {
          console.log(err)
      })
  }
  
</script>
<Navbs/>
<div class="container mx-auto pt-4">
  {#if alert.accion}
      {#if alert.message.charAt(0) == "A"}
          <Alert color="warning" alert={alert.message}/>
      {:else}
          <Alert color="danger" alert={alert.message}/>
      {/if}
  {/if}
  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <h3 class="card-header text-uppercase">
                  Registros Materia
              </h3>
              <div class="card-body">
                  <form on:submit={onSubmitMateria}>
                      <div class="form-group">
                          <label for="" class="text-justify">Materia</label>
                          <input bind:value={materia.materia} pattern="[^\s]*$" title="Error el campo esta bacio" type="text" name="materia" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="inputState">Estatus</label>
                        <select bind:value={materia.estatus} name="estatus" id="inputState" class="form-control" required>
                            <option selected>Selecion...Activo/Inactivo</option>
                            <option value={true}>Activo</option>
                            <option value={false}>Inactivo</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="inputState">Grupo</label>
                        <select bind:value={materia.id_grupo} name="grupo" id="inputState" class="form-control" required>
                          <option selected>Option..</option>
                          {#each grupos as g}
                            {#if g.estatus}
                                <option value={g.id}>{g.grupo}</option>
                            {/if}
                          {/each}
                        </select>
                      </div>
                      {#if actualizar == true}
                          <button type="submit" name="actualiza" class="btn btn-block btn-primary">
                              Actualizar
                          </button>
                      {:else}
                          <button type="submit" name="agrega" class="btn btn-block btn-primary">
                              Agregar
                          </button>
                      {/if}
                  </form>
              </div>
          </div>
      </div>
      <div class="col-md-8">
          <table class="table text-center">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Materias</th>
                      <th>Estatus</th>
                      <th>Grupo</th>
                      <th colspan="2">Operaciones</th>
                  </tr>
              </thead>
              <tbody>
                  {#each materias as m}
                  <tr>
                      <td>{m.id}</td>
                      <td>{m.materia}</td>
                      <td class="d-flex justify-center-center align-items-center">
                        {#if m.estatus}
                        <img width="24" src="img/valid.png" alt="valid"/>
                        Activo
                        {:else}
                        <img width="24" src="img/invalid.png" alt="invalid"/>
                        Inactivo
                        {/if}
                    </td>
                      <td>{m.id_grupo.grupo}</td>
                      <td>
                          <button class="btn btn-danger btn-sm" on:click={materiaDelete(m.id)}>✗</button>
                          <button class="btn btn-warning btn-sm" on:click={materiaUpdate(m.id)}>✎</button>
                      </td>
                  </tr>
                  {/each}
              </tbody>
          </table>
      </div>
  </div>
</div>