<script>
    import Alert from "../../components/Alert.svelte"
    import api from "../../api.js";
    import Navbs from "../../components/Navbs.svelte"
    import Navbsmaestros from "../../components/Navbsmaestros.svelte"
    import { validateGet } from '../../validate.js'
    let autores = [];
    let v = ''
    let vali = false;
    (async () => {
        const data = await api.get("/autors")
        autores = data.data
        v = JSON.parse(validateGet());
        console.log(v)
        if (v == "maestro"){
            vali = true
        } else if (v == "admin"){
            vali = false;
        }
        if (v == null) {
          window.location.href = "/login"
        }
    })();
    let autor = ""
    let actualizar = false
    let _id = ""
    let alert = {
        accion: false,
        message: ""
    }
    
    const onSubmitAutor = async (e) => {
        e.preventDefault()
        const eventButton = e.target[1].name
        if(eventButton == "agrega") {
            await api.post("/autors",{autor})
            autor = ""
            alert = {
                accion: true,
                message: "Agregado Correctamente"
            }
        }
        if(eventButton == "actualiza") {
            await api.put(`/autors/${_id}`, {autor})
            autor = ""
            alert = {
                accion: true,
                message: "Actualizado Correctamente"
            }
        }
        const data = await api.get("/autors")
        autores = data.data
    }
    
    const autorDelete = async (id) => {
        const res = await api.delete(`/autors/${id}`).then(()=>{
            alert = {
            accion: true,
            message: "Eliminado Correctamente"
        } 
        })
        
        const data = await api.get("/autors").then((data)=>{
            autores = data.data
        })
        
    }
    
    const autorUpdate = async (id) => {
        await api.get(`/autors/${id}`).then(autorConsulta => {
            const { data } = autorConsulta
            autor = data.autor
            actualizar = true
            _id = id
        }).catch(err => {
            console.log(err)
        })
    }
</script>
<div>
    {#if vali == true}
    <Navbsmaestros />
    {/if}
    {#if vali == false}
    <Navbs />
    {/if}
</div>
<div class="container mx-auto pt-4">
    {#if alert.accion}
        {#if alert.message.charAt(0) == "A"}
            <Alert color="warning" alert={alert.message}/>
        {:else}
            <Alert color="danger" alert={alert.message}/>
        {/if}
    {/if}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header text-uppercase">
                    Registros Autor
                </h3>
                <div class="card-body">
                    <form on:submit={onSubmitAutor}>
                        <div class="form-group">
                            <label for="" class="text-justify">Autor</label>
                            <input bind:value={autor} pattern="[^\s]*$" title="Error el campo esta bacio" type="text" name="autor" class="form-control"  required>
                        </div>
                        {#if actualizar == true}
                            <button type="submit" name="actualiza" class="btn btn-block btn-primary">
                                Actualizar
                            </button>
                        {:else}
                            <button type="submit" name="agrega" class="btn btn-block btn-primary">
                                Agregar
                            </button>
                        {/if}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Autor</th>
                        <th colspan="2">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {#each autores as a}
                    <tr>
                        <td>{a.id}</td>
                        <td class="text-uppercase">{a.autor}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" on:click={autorDelete(a.id)}>✗</button>
                            <button class="btn btn-warning btn-sm" on:click={autorUpdate(a.id)}>✎</button>
                        </td>
                    </tr>
                    {/each}
                </tbody>
            </table>
        </div>
    </div>
  </div>