<script>
    import { validateGet } from '../../validate.js'
    import api from '../../api.js'
    import Alert from "../../components/Alert.svelte"
    import Navbs from "../../components/Navbs.svelte"
    let l = ''
    let grupos = [];
    let semestres = [];
    (async () => {
        const grupo = await api.get("/grupos")
        const semes = await api.get("/semestres")
        grupos = grupo.data
        semestres = semes.data
        l = JSON.parse(validateGet());
        if (l == null) {
              window.location.href = "/login"
        }
    })();
    let grupo = {}
    let actualizar = false
    let _id = ""
    let alert = {
        accion: false,
        message: ""
    }

    const onSubmitGrupo = async (e) => {
        e.preventDefault()
        const eventButton = e.target[3].name
        if(eventButton == "agrega") {
            await api.post("/grupos", grupo)
            grupo = {}
            alert = {
                accion: true,
                message: "Agregado Correctamente"
            }
        }
        if(eventButton == "actualiza") {
            await api.put(`/grupos/${_id}`, grupo)
            grupo = {}
            alert = {
                accion: true,
                message: "Actualizado Correctamente"
            }
        }
        const data = await api.get("/grupos")
        grupos = data.data
    }

    const grupoDelete = async (id) => {
        const res = await api.delete(`/grupos/${id}`)
        alert = {
            accion: true,
            message: "Eliminado Correctamente"
        }
        const data = await api.get("/grupos")
        grupos = data.data
    }

    const grupoUpdate = async (id) => {
        await api.get(`/grupos/${id}`).then(grupConsulta => {
            const { data } = grupConsulta
            grupo.grupo = data.grupo
            grupo.estatus = data.estatus
            actualizar = true
            _id = id
        }).catch(err => {
            console.log(err)
        })
    }

</script>
<Navbs/>
<div class="container mx-auto pt-4">
    {#if alert.accion}
        {#if alert.message.charAt(0) == "A"}
            <Alert color="warning" alert={alert.message}/>
        {:else}
            <Alert color="danger" alert={alert.message}/>
        {/if}
    {/if}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header text-uppercase">
                    Registros Grupo
                </h3>
                <div class="card-body">
                    <form on:submit={onSubmitGrupo}>
                        <div class="form-group">
                            <label for="" class="text-justify">Grupo</label>
                            <input bind:value={grupo.grupo} pattern="[^\s]*$" title="Error el campo esta bacio" type="text" name="Grupo" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="inputState">Estatus</label>
                            <select bind:value={grupo.estatus} name="estatus" id="inputState" class="form-control" required>
                                <option selected>Selecion...Activo/Inactivo</option>
                                <option value={true}>Activo</option>
                                <option value={false}>Inactivo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputState">Semestre</label>
                            <select bind:value={grupo.id_semestre} name="semestre" id="inputState" class="form-control" required>
                              <option selected>Option..</option>
                              {#each semestres as s}
                                {#if s.estatus}
                                    <option value={s.id}>{s.semestre}</option>
                                {/if}
                              {/each}
                            </select>
                        </div>
                        {#if actualizar == true}
                            <button type="submit" name="actualiza" class="btn btn-block btn-primary">
                                Actualizar
                            </button>
                        {:else}
                            <button type="submit" name="agrega" class="btn btn-block btn-primary">
                                Agregar
                            </button>
                        {/if}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Grupo</th>
                        <th>Semestre</th>
                        <th>Estatus</th>
                        <th colspan="2">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    {#each grupos as g}
                    <tr>
                        <td>{g.id}</td>
                        <td>{g.grupo}</td>
                        <td>{g.id_semestre.semestre}</td>
                        <td class="d-flex justify-center-center align-items-center">
                            {#if g.estatus}
                            <img width="24" src="img/valid.png" alt="valid"/>
                            Activo
                            {:else}
                            <img width="24" src="img/invalid.png" alt="invalid"/>
                            Inactivo
                            {/if}
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" on:click={grupoDelete(g.id)}>✗</button>
                            <button class="btn btn-warning btn-sm" on:click={grupoUpdate(g.id)}>✎</button>
                        </td>
                    </tr>
                    {/each}
                </tbody>
            </table>
        </div>
    </div>
  </div>