<script>
    import api from '../../api.js'
    import Alert from "../../components/Alert.svelte"
    import Navbs from "../../components/Navbs.svelte"
    import { validateGet } from '../../validate.js'
    let l = ''
    let maestros = [];
    let usuarios = [];
  (async () => {
      const data = await api.get("/maestros")
      const g = await api.get("/usuarios")
      usuarios = g.data
      maestros = data.data
      l = JSON.parse(validateGet());
        if (l == null) {
            window.location.href = "/login"
        }
  })();
  let maestro = {}
  let actualizar = false
  let _id = ""
  let alert = {
      accion: false,
      message: ""
  }
  
  const onSubmitMaestro = async (e) => {
      e.preventDefault()
      const eventButton = e.target[6].name
      if(eventButton == "agrega") {
          await api.post("/maestros", maestro).then(res => {
              console.log(res)
          }).catch(err => {
              console.log(err)
          })
          maestro = {}
          alert = {
              accion: true,
              message: "Agregado Correctamente"
          }
      }
      if(eventButton == "actualiza") {
          await api.put(`/maestros/${_id}`, maestro)
          maestro = {}
          alert = {
              accion: true,
              message: "Actualizado Correctamente"
          }
      }
      const data = await api.get("/maestros")
      maestros = data.data
  }
  
  const maestroDelete = async (id) => {
      const res = await api.delete(`/maestros/${id}`)
      alert = {
          accion: true,
          message: "Eliminado Correctamente"
      }
      const data = await api.get("/maestros")
      maestros = data.data
  }
  
  const maestroUpdate = async (id) => {
      await api.get(`/maestros/${id}`).then(mConsulta => {
          const { data } = mConsulta
          maestro.nombre = data.nombre
          maestro.apellidos = data.apellidos
          maestro.correo = data.correo
          maestro.telefono = data.telefono
          maestro.id_usuario = data.id_usuario
          actualizar = true
          _id = id
      }).catch(err => {
          console.log(err)
      })
  }
  
</script>
<Navbs/>
<div class="container mx-auto pt-4">
  {#if alert.accion}
      {#if alert.message.charAt(0) == "A"}
          <Alert color="warning" alert={alert.message}/>
      {:else}
          <Alert color="danger" alert={alert.message}/>
      {/if}
  {/if}
  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <h3 class="card-header text-uppercase">
                  Registros maestro
              </h3>
              <div class="card-body">
                  <form on:submit={onSubmitMaestro}>
                      <div class="form-group">
                          <label for="" class="text-justify">Nombre</label>
                          <input bind:value={maestro.nombre} pattern="[^\s]*$" title="Error el campo esta bacio" type="text" name="nombre" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="" class="text-justify">Apellidos</label>
                        <input bind:value={maestro.apellidos} pattern="[^\s]*$" title="Error el campo esta bacio" type="text" name="apellidos" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="" class="text-justify">Correo</label>
                        <input bind:value={maestro.correo} pattern="[^\s]*$" title="Error el campo esta bacio" type="email" name="correo" class="form-control" required>
                    </div>
                      <div class="form-group">
                        <label for="inputState">Estatus</label>
                        <select bind:value={maestro.estatus} name="estatus" id="inputState" class="form-control" required>
                            <option selected>Selecion...Activo/Inactivo</option>
                            <option value={true}>Activo</option>
                            <option value={false}>Inactivo</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="" class="text-justify">Telefono</label>
                        <input bind:value={maestro.telefono} type="number" name="telefono" class="form-control" required>
                    </div>
                      <div class="form-group">
                        <label for="inputState">Usuario</label>
                        <select bind:value={maestro.id_usuario} name="usuario" id="inputState" class="form-control" required>
                          <option selected>Option..</option>
                          {#each usuarios as u}
                            <option value={u.id}>{u.usuario}</option>
                          {/each}
                        </select>
                      </div>
                      {#if actualizar == true}
                          <button type="submit" name="actualiza" class="btn btn-block btn-primary">
                              Actualizar
                          </button>
                      {:else}
                          <button type="submit" name="agrega" class="btn btn-block btn-primary">
                              Agregar
                          </button>
                      {/if}
                  </form>
              </div>
          </div>
      </div>
      <div class="col-md-8">
          <table class="table text-center">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Apellidos</th>
                      <th>Correo</th>
                      <th>Estatus</th>
                      <th>Usuario</th>
                      <th colspan="2">Operaciones</th>
                  </tr>
              </thead>
              <tbody>
                  {#each maestros as m}
                  <tr>
                      <td>{m.id}</td>
                      <td>{m.nombre}</td>
                      <td>{m.apellidos}</td>
                      <td>{m.correo}</td>
                      <td>{m.telefono}</td>
                      <td class="d-flex justify-center-center align-items-center">
                        {#if m.estatus}
                        <img width="24" src="img/valid.png" alt="valid"/>
                        Activo
                        {:else}
                        <img width="24" src="img/invalid.png" alt="invalid"/>
                        Inactivo
                        {/if}
                    </td>
                      <td>{m.id_usuario.usuario}</td>
                      <td>
                          <button class="btn btn-danger btn-sm" on:click={maestroDelete(m.id)}>✗</button>
                          <button class="btn btn-warning btn-sm" on:click={maestroUpdate(m.id)}>✎</button>
                      </td>
                  </tr>
                  {/each}
              </tbody>
          </table>
      </div>
  </div>
</div>