<script>
    import { validateGet } from '../../validate.js'
    import api from '../../api.js'
    import Alert from "../../components/Alert.svelte"
    import Navbs from "../../components/Navbs.svelte"
    let l = ''
    let usuarios = [];
    let roles = [];
    (async () => {
        const rol = await api.get("/roles")
        const data = await api.get("/usuarios")
        roles = rol.data
        usuarios = data.data
        l = JSON.parse(validateGet());
        if (l == null) {
            window.location.href = "/login"
        }
    })();
    let usuario = {
        usuario: "",
        password: "",
        id_rol: ""
    }
    let actualizar = false
    let _id = ""
    let alert = {
        accion: false,
        message: ""
    }
    
    const onSubmitUser = async (e) => {
        e.preventDefault()
        const eventButton = e.target[3].name
        if(eventButton == "agrega") {
            await api.post("/usuarios", usuario)
            usuario = {
                usuario: "",
                password: "",
                id_rol: ""
            }
            alert = {
                accion: true,
                message: "Agregado Correctamente"
            }
        }
        if(eventButton == "actualiza") {
            await api.put(`/usuarios/${_id}`, usuario)
            usuario = {
                usuario: "",
                password: "",
                id_rol: ""
            }
            alert = {
                accion: true,
                message: "Actualizado Correctamente"
            }
        }
        const data = await api.get("/usuarios")
        usuarios = data.data
    }
    
    const userDelete = async (id) => {
        const res = await api.delete(`/usuarios/${id}`)
        alert = {
            accion: true,
            message: "Eliminado Correctamente"
        }
        const data = await api.get("/usuarios")
        usuarios = data.data
    }
    
    const userUpdate = async (id) => {
        await api.get(`/usuarios/${id}`).then(userConsulta => {
            const { data } = userConsulta
            usuario = {
                usuario: data.usuario,
                password: "",
                id_rol: ""
            }
            actualizar = true
            _id = id
        }).catch(err => {
            console.log(err)
        })
    }
    
</script>
<Navbs/>
<div class="container mx-auto pt-4">
    {#if alert.accion}
        {#if alert.message.charAt(0) == "A"}
            <Alert color="warning" alert={alert.message}/>
        {:else}
            <Alert color="danger" alert={alert.message}/>
        {/if}
    {/if}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header text-uppercase">
                    Registros Usuario
                </h3>
                <div class="card-body">
                    <form on:submit={onSubmitUser}>
                        <div class="form-group">
                            <label for="" class="text-justify">Usuario</label>
                            <input bind:value={usuario.usuario} pattern="[^\s]*$" title="Espacio Bacio" type="text" name="usuario" class="form-control"  required>
                        </div>
                        <div class="form-group">
                            <label for="" class="text-justify">Password</label>
                            <input bind:value={usuario.password} pattern="[^\s]*$" title="Espacio Bacio" type="password" name="password" class="form-control"  required>
                        </div>
                        <div class="form-group">
                            <label for="inputState">Rol's</label>
                            <select bind:value={usuario.id_rol} name="rol" id="inputState" class="form-control" required>
                              <option selected>Option...</option>
                              {#each roles as r}
                                <option value={r.id}>{r.rol}</option>
                              {/each}
                            </select>
                        </div>
                        {#if actualizar == true}
                            <button type="submit" name="actualiza" class="btn btn-block btn-primary">
                                Actualizar
                            </button>
                        {:else}
                            <button type="submit" name="agrega" class="btn btn-block btn-primary">
                                Agregar
                            </button>
                        {/if}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Usuario</th>
                        <th>Rol</th>
                        <th colspan="2">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    {#each usuarios as user}
                    <tr>
                        <td>{user.id}</td>
                        <td>{user.usuario}</td>
                        <td>{user.id_rol.rol}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" on:click={userDelete(user.id)}>✗</button>
                            <button class="btn btn-warning btn-sm" on:click={userUpdate(user.id)}>✎</button>
                        </td>
                    </tr>
                    {/each}
                </tbody>
            </table>
        </div>
    </div>
  </div>