<script>
  export let alert;
  export let color;
</script>

<div class="alert alert-{color} alert-dismissible fade show" role="alert">
  {alert}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div> 