<script>
  const click = () => {
    localStorage.clear();
    window.location.href = "/login"
  }
</script>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
      <a class="navbar-brand" href="#dd">REPOSITORIO ISC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/antologia">Antologias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/autor">Autores</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link bg-success text-white-50 rounded-pill border-primary" href="#b" on:click={click}>SALIR</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</div>