<script>
    import { validateGet } from '../../validate.js'
    import api from '../../api.js'
    import Alert from "../../components/Alert.svelte"
    import Navbs from "../../components/Navbs.svelte"
    let l = ''
    let semestres = [];
    (async () => {
        const semestre = await api.get("/semestres")
        semestres = semestre.data
        l = JSON.parse(validateGet());
        if (l == null) {
            window.location.href = "/login"
        }
  })();
  let semestre = {}
  let actualizar = false
  let _id = ""
  let alert = {
      accion: false,
      message: ""
  }
  
  const onSubmitSemestre = async (e) => {
      e.preventDefault()
      const eventButton = e.target[2].name
      if(eventButton == "agrega") {
          await api.post("/semestres", semestre)
          semestre = {}
          alert = {
              accion: true,
              message: "Agregado Correctamente"
          }
      }
      if(eventButton == "actualiza") {
          await api.put(`/semestres/${_id}`, semestre)
          semestre = {}
          alert = {
              accion: true,
              message: "Actualizado Correctamente"
          }
      }
      const data = await api.get("/semestres")
      semestres = data.data
  }
  
  const semestreDelete = async (id) => {
      const res = await api.delete(`/semestres/${id}`)
      alert = {
          accion: true,
          message: "Eliminado Correctamente"
      }
      const data = await api.get("/semestres")
      semestres = data.data
  }
  
  const semestreUpdate = async (id) => {
      await api.get(`/semestres/${id}`).then(sConsulta => {
          const { data } = sConsulta
          semestre.semestre = data.semestre
          semestre.estatus = data.estatus
          actualizar = true
          _id = id
      }).catch(err => {
          console.log(err)
      })
  }
  
</script>
<Navbs/>
<div class="container mx-auto pt-4">
    {#if alert.accion}
        {#if alert.message.charAt(0) == "A"}
            <Alert color="warning" alert={alert.message}/>
        {:else}
            <Alert color="danger" alert={alert.message}/>
        {/if}
    {/if}
  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <h3 class="card-header text-uppercase">
                  Registros Semestre
              </h3>
              <div class="card-body">
                  <form on:submit={onSubmitSemestre}>
                      <div class="form-group">
                          <label for="" class="text-justify">Semestre</label>
                          <input bind:value={semestre.semestre} pattern="[^\s]*$" title="Error el campo esta bacio" type="text" name="semestre" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="inputState">Estatus</label>
                        <select bind:value={semestre.estatus} name="estatus" id="inputState" class="form-control" required>
                          <option selected>Selecion...Activo/Inactivo</option>
                            <option value={true}>Activo</option>
                            <option value={false}>Inactivo</option>
                        </select>
                    </div>
                      {#if actualizar == true}
                          <button type="submit" name="actualiza" class="btn btn-block btn-primary">
                              Actualizar
                          </button>
                      {:else}
                          <button type="submit" name="agrega" class="btn btn-block btn-primary">
                              Agregar
                          </button>
                      {/if}
                  </form>
              </div>
          </div>
      </div>
      <div class="col-md-8">
          <table class="table">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Semestre</th>
                      <th>Estatus</th>
                      <th colspan="2">Operaciones</th>
                  </tr>
              </thead>
              <tbody>
                  {#each semestres as s}
                  <tr>
                      <td>{s.id}</td>
                      <td>{s.semestre}</td>
                      <td class="d-flex justify-center-center align-items-center">
                        {#if s.estatus}
                        <img width="24" src="img/valid.png" alt="valid"/>
                        Activo
                        {:else}
                        <img width="24" src="img/invalid.png" alt="invalid"/>
                        Inactivo
                        {/if}
                    </td>
                      <td>
                          <button class="btn btn-danger btn-sm" on:click={semestreDelete(s.id)}>✗</button>
                          <button class="btn btn-warning btn-sm" on:click={semestreUpdate(s.id)}>✎</button>
                      </td>
                  </tr>
                  {/each}
              </tbody>
          </table>
      </div>
  </div>
</div>