<script>
import {Router, Link, Route} from 'svelte-routing'
import Home from "./routes/Home.svelte"
import Buscar from "./routes/Buscar.svelte"
import Login from './routes/Login.svelte'
import Rol from './routes/rol/Roles.svelte'
import Autor from './routes/autor/Autor.svelte'
import Usuario from './routes/usuario/Usuario.svelte'
import Grupo from './routes/grupo/Grupo.svelte'
import Semestre from './routes/semestre/Semestre.svelte'
import Materia from './routes/materia/Materia.svelte'
import Maestro from './routes/maestro/Maestro.svelte'
import Antologia from './routes/antologia/Antologia.svelte'
export let url = "";
</script>

<Router url="{url}">
	<Route path="/">
		<Home/>
	</Route>

	<Route path="login">
		<Login/>
	</Route>

	<Route path="rol">
		<Rol/>
	</Route>

	<Route path="autor">
		<Autor/>
	</Route>

	<Route path="usuario">
		<Usuario/>
	</Route>

	<Route path="grupo">
		<Grupo/>
	</Route>

	<Route path="semestre">
		<Semestre/>
	</Route>

	<Route path="materia">
		<Materia/>
	</Route>

	<Route path="maestro">
		<Maestro/>
	</Route>

	<Route path="antologia">
		<Antologia/>
	</Route>

	<Route pach="buscar">
		<Buscar/>
	</Route>

</Router>


