<script>
    import { validateGet } from '../../validate.js'
    import api from '../../api.js'
    import Alert from "../../components/Alert.svelte"
    import Navbs from "../../components/Navbs.svelte"
    let l = ''
    
let roles = [];

(async () => {
    const data = await api.get("/roles")
    roles = data.data
    l = JSON.parse(validateGet());
    if (l == null) {
        window.location.href = "/login"
    }
})();
let rol = ""
let actualizar = false
let _id = ""
let alert = {
    accion: false,
    message: ""
}

const onSubmitRol = async (e) => {
    e.preventDefault()
    const eventButton = e.target[1].name
    if(eventButton == "agrega") {
        await api.post("/roles",{rol})
        rol = ""
        alert = {
            accion: true,
            message: "Agregado Correctamente"
        }
    }
    if(eventButton == "actualiza") {
        await api.put(`/roles/${_id}`, {rol})
        rol = ""
        alert = {
            accion: true,
            message: "Actualizado Correctamente"
        }
    }
    const data = await api.get("/roles")
    roles = data.data
}

const rolDelete = async (id) => {
    const res = await api.delete(`/roles/${id}`)
    alert = {
        accion: true,
        message: "Eliminado Correctamente"
    }
    const data = await api.get("/roles")
    roles = data.data
}

const rolUpdate = async (id) => {
    await api.get(`/roles/${id}`).then(rolConsulta => {
        const { data } = rolConsulta
        rol = data.rol
        actualizar = true
        _id = id
    }).catch(err => {
        console.log(err)
    })
}

</script>
<Navbs/>
<div class="container mx-auto pt-4">
    {#if alert.accion}
        {#if alert.message.charAt(0) == "A"}
            <Alert color="warning" alert={alert.message}/>
        {:else}
            <Alert color="danger" alert={alert.message}/>
        {/if}
    {/if}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header text-uppercase">
                    Registros Rol
                </h3>
                <div class="card-body">
                    <form on:submit={onSubmitRol}>
                        <div class="form-group">
                            <label for="" class="text-justify">Rol</label>
                            <input bind:value={rol} pattern="[^\s]*$" title="Espacio Bacio" type="text" name="rol" class="form-control" required>
                        </div>
                        {#if actualizar == true}
                            <button type="submit" name="actualiza" class="btn btn-block btn-primary">
                                Actualizar
                            </button>
                        {:else}
                            <button type="submit" name="agrega" class="btn btn-block btn-primary">
                                Agregar
                            </button>
                        {/if}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Roles</th>
                        <th colspan="2">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    {#each roles as rol}
                    <tr>
                        <td>{rol.id}</td>
                        <td>{rol.rol}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" on:click={rolDelete(rol.id)}>✗</button>
                            <button class="btn btn-warning btn-sm" on:click={rolUpdate(rol.id)}>✎</button>
                        </td>
                    </tr>
                    {/each}
                </tbody>
            </table>
        </div>
    </div>
  </div>